**/.env
**/venv
**/build/
**/*.pt
**/*.onnx
**/__pycache__/

# OCR Test
software/ocr-module/models/*.tar
software/ocr-module/test_images/*.jpg
software/ocr-module/test_images/*.png
!software/ocr-module/test_images/.gitkeep
software/ocr-module/debug_*.jpg
software/ocr-module/ocr_results.csv

